/* general */

.btn-danger:focus {
  outline-color: #761c19;
}

.spin {
  font-size: 30px;
  margin-top: 10px;
  animation: spin-frames 1s infinite linear;
}

@keyframes spin-frames {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

/* navbar */

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

#notification {
  padding: 10px;
  cursor: pointer;
}

#notification span {
  font-size: 25px;
}

.new-notification {
  color: #f51b1b;
}

/* products */

.product-display {
  display: inline-block;
}

.product-box {
  margin: 10px;
}

.product-image {
  width: 250px;  
}

/* comments */

.comment-list-title {
  margin-bottom: 20px;
}

.comment-box {
  width: 100%;
  float: left;
  margin-bottom: 40px;
  background-color: #f5f5f5;
  border-radius: 3px;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
}

.comment-box input {
  width: 100%;
  outline: none;
  border-radius: 3px 3px 0 0;
  border-color: #ddd;
  border-width: 0px 0px 1px 0px;
}

.comment-box button {
  float: right;
  margin: 3px 10px 3px 0px;
}

.comment-box button > i {
  margin-right: 7px;
}

/* shopping cart */

.shopping-button {
  margin-right: 10px;
  margin-top: 10px;
}

.x-mark {
  float: right;
  cursor: pointer;
}

/* login */

.login {
  max-width: 480px;
  margin: 0 auto;
}

.login button {
  width: 100px;
}

/* signup */

.signup {
  max-width: 480px;
  margin: 0 auto;
}

.signup button {
  width: 100px;
}